<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о проекте</title>
    <style>
        p {text-indent: 25px; font-size: 20px;}
    </style>
</head>
<body>
    <h1 align="center">Информация о проекте</h1>
    <p>
        Суть проекта заключается в том, чтобы помогать людям отслеживать их прогресс в изучении программирования,
        закрывать пробелы в знаниях и конспектировать нужную информацию. Пока что из доступных языков на сайте будет
        только python. Пользователи смогут проходить различные тесты для выявления своих слабых мест, конспектировать
        нужную информацию и отмечать в соответствующем разделе пройденные темы. Так же будет страница с различными
        полезными ссылками по мнению автора. Например, человек хочет изучить ООП в python, в этом случае он может просто
        перейти на нужную страничку, кликнуть на интересующую тему (ООП, либо что-то более конкретное) и получить
        перечень ссылок на видео, курсы, статьи и так далее. Так же можно попробовать подключить комментарии и
        предложку, в которую пользователи смогут отправлять найденную ими информацию на ту или иную тему, за счет чего
        база данных будет все время пополняться, а разнообразие материала увеличиваться.
    </p>
    <p>
        В дальнейшем можно будет добавить тесты и ссылки на полезные ресурсы уже для других языков программирования
        и, например, базам данных и фреймворкам. Так же можно будет транслировать информацию с самыми
        востребованными наборами инструментов (ЯП + фреймворки и т.д.), на рынке, что бы человек мог определиться, что
        именно ему изучать. Добиться этого можно посредством анализа вакансий, например, на HH.ru.
        Разумеется можно и дальше развивать эту идею и масштабировать проект, что бы получить действительно
        полезный продукт для IT аудитории.
    </p>
    <h3><a href="{% url 'home' %}">На главную</a></h3>
</body>
</html>